<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule ^(.*)/$ /$1 [L,R]

RewriteRule ^$ index.php [L]
RewriteRule ^auth$ auth.php [L]
RewriteRule ^logout$ logout.php [L]

RewriteRule ^test$ index.php?content=test [L]

RewriteRule ^simpan-buat-quiz$ ajax/simpan-buat-quiz.php [L]

RewriteRule ^dashboard$ index.php?content=dashboard/index [L]
RewriteRule ^dashboard/(.*)$ index.php?content=dashboard/index&pages=$1 [L]

RewriteRule ^join$ index.php?content=join [L]
RewriteRule ^join/(.*)$ index.php?content=join&code=$1 [L]
RewriteRule ^play/(.*)$ index.php?content=play&code=$1 [L]




</IfModule>
